<h1><%= @registered_application.name %></h1>

<%= link_to "Edit Topic" edit_registered_application_path, class: 'btn btn-sucess' %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @registered_application.description %></p>
      <% @registered_application.events.each do |event| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to event.title, event %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "New Event", new_event_path(@registered_application), class: 'btn btn-sucess' %>
    </div>
  </div>
