<h1><%= @registered_application.url %></h1>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @registered_application.url %></p>
      <%= @registered_application.events.each do |event| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
        <%= javascript_include_tag "https://www.google.com/jsapi" %>      
        <%= pie_chart @registered_application.events.group(:name).count %>

            </h4>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "New Event", new_registered_application_event_path(@registered_application), class: 'btn btn-sucess' %>
    </div>
  </div>
